@media (max-width: 1400px) {
  #third-btn {
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  #third-btn {
    margin-top: 11%;
  }
}
@media (max-width: 992px) {
  #bag-bg {
    height: 100%;
  }
  .similar-inner-item-image {
    width: 50px;
  }
  .card-body p {
    font-size: 0.8rem;
  }
  .card-height {
    height: 34rem;
  }
}
@media (max-width: 768px) {
  .card-height {
    height: 100%;
  }
}
@media (max-width: 576px) {
  #home {
    margin-top: 15vh;
  }
}
@media (max-width: 426px) {
  #home {
    height: 95vh;
  }
  .card-height {
    min-height: 42rem;
  }
  #first-btn {
    position: relative;
    top: 4vh;
  }
  #third-btn {
    position: relative;
    top: 4vh;
  }
  #second-btn {
    position: relative;
    top: 4vh;
  }
}
