@media (max-width: 1200px) {
  #first-btn {
    margin-top: 30%;
  }
  #second-btn {
    margin-top: 39%;
  }
  #third-btn {
    margin-top: 16%;
  }
}
@media (max-width: 992px) {
  .card-height {
    height: 35em;
  }
  #first-btn {
    margin-top: 30%;
  }
  #second-btn {
    margin-top: 58%;
  }
  #third-btn {
    margin-top: 6%;
  }
  .form-control {
    width: 30%;
  }
  #bag-bg {
    height: 90%;
  }
  .similar-inner-item-image #sizing {
    width: 70%;
    position: relative;
    left: 28%;
  }
}
@media (max-width: 768px) {
  #second-btn {
    position: relative;
    top: 12%;
  }
  #first-btn {
    position: relative;
    top: 6%;
  }
  #home {
    margin-top: 15%;
  }
  .form-control {
    width: 40%;
  }
  #bag-bg {
    height: 90%;
  }
  .similar-inner-item-image #sizing {
    width: 70%;
    position: relative;
    left: 28%;
  }
  #second-btn {
    z-index: 1;
    position: relative;
    top: -25%;
  }
  #first-btn {
    z-index: 1;
    position: relative;
    top: -12%;
  }
  .card-height {
    height: 45em;
  }
}
@media (max-width: 576px) {
  .carousel-top {
    margin-top: 13%;
  }
  .shoe-card {
    height: 100%;
  }
  .card-height {
    height: 100%;
  }
  #first-btn {
    position: relative;
    top: 0;
  }
  #second-btn {
    position: relative;
    top: 0;
  }
  #home {
    margin-top: 20%;
  }
  .card-body {
    margin-bottom: 0;
  }
  .form-control {
    width: 55%;
  }
  #home {
    margin-top: 20%;
    height: 790px;
  }
  .down-content {
    margin-bottom: 15px;
  }
}
@media (max-width: 426px) {
  #home {
    margin-top: 25%;
  }
  #subscribe {
    padding-top: 0 !important;
  }
  #home {
    margin-top: 20%;
    height: 690px;
  }
}
